<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div class="movie-container">
        <div class="col" *ngFor = "let movie of movies">
            <div class="movie-list" >
                <div class="movie">
                    <img [src]="'http://image.tmdb.org/t/p/w500' + movie.poster_path" alt="{{ movie.title }}">
                    <span class="movie-title">{{ movie.title }}</span>
                    <p class="movie-discription">{{ movie.overview }}</p>
                    <button class="movie-list-button" (click)="moreDetails(movie)">View</button>
                </div>
            </div>
        </div>
</div>