div {
  position:absolute;
  width:600px; 
  height:600px
}

#left{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    background-color: transparent;
}

#right {
    position: absolute;
    left: 50%;
    width: 100%;
    top: 0; 
    height: 100vh;
    background-color: grey;
}

body{
    font-family:'Azeret Mono', monospace;
}

img{
    border-radius: 50px;
    width: 50x;
    height: 50px;
    position: absolute;
}