*{
    margin: 0;
    top: 0;
    left: 0;
}

body{
    font-family:'Azeret Mono', monospace;;
}

.navbar{
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: goldenrod;
}

.navbar-container{
    align-items: center;
    padding: 0px;
}

.logo{
    font-family:'Azeret Mono', monospace;
    padding: 5%;
    font-size: 30px;
    color: black;
}